<div class="center">
    <mat-card class="sign-up-block">
        <mat-card-title class="text-center text-primary">Sign Up</mat-card-title>
        <mat-card-content class="m-3">
            <form [formGroup]="signUpForm">
                <mat-form-field appearance="fill" class="m-1 w-100 w-100">
                    <mat-label>First Name<span class="text-danger m-1">*</span></mat-label>
                    <input matInput placeholder="Enter First Name" type="text" formControlName="FirstName" autocomplete="off">
                    <mat-error *ngIf="signUpForm.get('FirstName').invalid">This field is required</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill" class="m-1 w-100">
                    <mat-label>Last Name<span class="text-danger m-1">*</span></mat-label>
                    <input matInput placeholder="Enter Last Name" type="text" formControlName="LastName" autocomplete="off">
                    <mat-error *ngIf="signUpForm.get('LastName').invalid">This field is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="m-1 w-100">
                    <mat-label>Email<span class="text-danger m-1">*</span></mat-label>
                    <input matInput placeholder="lorem@example.com" type="text" formControlName="Email" autocomplete="off">
                    <mat-error *ngIf="signUpForm.get('Email').invalid">{{emialErr()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="m-1 w-100">
                    <mat-label>Phone Number<span class="text-danger m-1">*</span></mat-label>
                    <input matInput placeholder="Enter First Name" type="number" formControlName="PhNum" autocomplete="off">
                    <mat-error *ngIf="signUpForm.get('PhNum').invalid">This field is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="m-1 w-100">
                    <mat-label>Address<span class="text-danger m-1">*</span></mat-label>
                    <input matInput placeholder="Enter Address" type="text" formControlName="Address" autocomplete="off">
                    <mat-error *ngIf="signUpForm.get('Address').invalid">This field is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="m-1 mb-2 w-100">
                    <mat-label>Password<span class="text-danger m-1">*</span></mat-label>
                    <input matInput placeholder="Enter Password" type="text" formControlName="Pwd" minlength="6">
                    <mat-error *ngIf="signUpForm.get('Pwd').invalid">This field is required</mat-error>
                    <mat-hint>Password must have at least 6 characters.</mat-hint>
                </mat-form-field>
                <div class="text-center mt-1">
                    <button class="w-100" mat-raised-button color="primary" [disabled]="signUpForm.invalid || submitted == 1" (click)="signUp()">
                        Sign Up
                    </button>
                </div>
            </form>
        </mat-card-content>
        <mat-progress-bar *ngIf="submitted == 1" mode="indeterminate" class="progress-bar"></mat-progress-bar>
    </mat-card>
</div>